# Cypher
In this notebook we're going to connect to Neo4j.  We'll then run a few Cypher queries using the Neo4j Graph Database Python driver.

First off, you'll also need to install a few packages.

In [2]:
%pip install neo4j

Requirement already satisfied: neo4j in /anaconda/envs/azureml_py38/lib/python3.8/site-packages (5.1.0)
Requirement already satisfied: pytz in /anaconda/envs/azureml_py38/lib/python3.8/site-packages (from neo4j) (2019.3)
Note: you may need to restart the kernel to use updated packages.

You'll need to enter the credentials from your Neo4j instance below.  You can get these from the Neo4j Browser by running the command ":server connect"

The default DB_USER and DB_NAME are always neo4j.

In [3]:
# Edit these variables!
DB_URL = 'neo4j://vm0.node-abcd.southeastasia.cloudapp.azure.com:7687'
DB_PASS = 'mypassword'

# You can leave these defaults
DB_USER = "neo4j"
DB_NAME = "neo4j"

In [4]:
import pandas as pd
from neo4j import GraphDatabase

driver = GraphDatabase.driver(DB_URL, auth=(DB_USER, DB_PASS))

Now that we're connected to the database, let's try running a few queries.  Earlier in the labs, we ran a query on the S&P 500 ETF, SPY.  Let's try it again on our new, indexed data set.

In [7]:
with driver.session(database=DB_NAME) as session:
  result = session.execute_read(
    lambda tx: tx.run(
      """
        MATCH (n:Company{cusip:"78462F103"}) RETURN n
      """
    ).data()
  )
df = pd.DataFrame(result)
display(df)

                                                   n
0  {'cusip': '78462F103', 'nameOfIssuer': 'SPDR S...

One result!  Looks like our indexing worked.  We can try other cypher queries as well.  But, let's try something new.

Neo4j has a set of procedures which are analogous to stored procedures in the RDBMS world.  Those are called Awesome Procedures on Cypher (APOC).

Let's trying running Cypher through the APOC interface.

In [8]:
# node labels
with driver.session(database=DB_NAME) as session:
  result = session.execute_read(
    lambda tx: tx.run(
      """
        CALL db.labels() YIELD label
        CALL apoc.cypher.run('MATCH (:`'+label+'`) RETURN count(*) as freq', {})
        YIELD value
        RETURN label, value.freq AS freq
      """
    ).data()
  )
df = pd.DataFrame(result)
display(df)

                 label    freq
0              Company    7342
1              Manager    3906
2              Holding  446922
3  _Bloom_Perspective_       1
4        _Bloom_Scene_       1

Note that this yieled us a usable dataframe rather than the embedded JSON blob we got by calling the raw cypher.

In [9]:
# relationship types
with driver.session(database=DB_NAME) as session:
    result = session.execute_read(
        lambda tx: tx.run(
            """
                CALL db.relationshipTypes() YIELD relationshipType as type
                CALL apoc.cypher.run('MATCH ()-[:`'+type+'`]->() RETURN count(*) as freq', {})
                YIELD value
                RETURN type AS relationshipType, value.freq AS freq
                ORDER by freq DESC
            """
        ).data()
    )
df = pd.DataFrame(result)
display(df)

    relationshipType    freq
0               OWNS  446922
1             PARTOF  446922
2  _Bloom_HAS_SCENE_       1

If you like, you can try creating your own queries as well.